body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #2d2f31;
    width: 100%;
    min-height: 50px;
    display: flex;      
    align-items: center;
}

.header ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header > ul > li > button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.container {
    background-color: #e0e0e0;
    display: flex;
    gap: 30px;
}

.column-1 {
    background-color: #2d2f31;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 90px;
}

.column-1 > div {
    display: flex;
    justify-content: center;
}

.column-1 img {
    width: 100%;
}

.column-1 > div > div {
    scroll-margin-top: 50px;
}

.contact p {
    margin-top: 30px;
}

.contact span {
    font-size: 12px;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.education h3 {
    margin-top: 55px;
}

.education p {
    margin-top: 30px;
}

.column-2 {
    color: #2d2f31;
    padding: 40px 20px;
}

.about > div {
    margin-top: 80px;
    scroll-margin-top: 50px;
}

.about__name {
    margin-top: 100px;
}

.about__name h2 {
    font-size: 48px;
    line-height: 54px;
    margin: 0;
    padding: 0;
}

.about__name h2 > span {
    font-size: 54px;
    color: #000;
}

.about__name p {
    padding: 5px 10px;
    margin-top: 20px;
    display: inline-block;
    background-color: #af7171;
}

.about__profile p {
    margin-top: 20px;
}

.about__experience > div {
    display: flex;
    justify-content: space-between;
    flex: 1 1;
    align-items: center;
    gap: 10px;
}

.about__experience p {
    margin-top: 10px;
}

.about__skills ul {
    list-style-type: none;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
}

.about__hobbies > div {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}
.about__hobbies img {
    height: 32px;
}

.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 50px;
    width: 32px;
    height: 32px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #af7171;
    display: none;
}

.back-to-top:hover,
.back-to-top:focus {
    filter: opacity(0.5);
    outline: none;
}

.back-to-top::before,
.back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-to-top::before {
    width: 3px;
    height: 16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    background-color: #fff;
}

.back-to-top::after {
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
    }
}